# Northwestern County Housing Renovation Analysis

Author: Armun Shakeri

# Overview

This project analyzes housing renovations and how renovations might increase the value of a property owners home.

# Business Problem

Recently property values have been increasing throughout the United States. For those wanting to sell their homes, home renovations might be a way homeowners can increase their property value. This project analyzes these renovations and explores if they do have a positive increase on the house's value.

# Data Understanding

The following data is imported from KC house data and shows different data about homes such as the date a home was sold, price, bedrooms...etc. For this project we will not need to use some of these columns, they will be removed.

In [3]:
# Import standard packages 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
%matplotlib inline

In [4]:
# Run code to explore the data
kc = pd.read_csv('data/kc_house_data.csv')

In [5]:
# Below shows the variables for kc dataset. Some of these columns will be removed. 
kc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [6]:
# Below we drop values that are irrelevant towards renovation analysis 
kc = kc.drop(['date', 'view', 'sqft_above', 'sqft_basement', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 
        'sqft_lot15'], axis=1)
kc.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built
0,7129300520,221900.0,3,1.00,1180,5650,1.0,NaN,Average,7 Average,1955
1,6414100192,538000.0,3,2.25,2570,7242,2.0,NO,Average,7 Average,1951
2,5631500400,180000.0,2,1.00,770,10000,1.0,NO,Average,6 Low Average,1933
3,2487200875,604000.0,4,3.00,1960,5000,1.0,NO,Very Good,7 Average,1965
4,1954400510,510000.0,3,2.00,1680,8080,1.0,NO,Average,8 Good,1987

In [7]:
# Here we drop all Na values. 
kc.dropna()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built
1,6414100192,538000.0,3,2.25,2570,7242,2.0,NO,Average,7 Average,1951
2,5631500400,180000.0,2,1.00,770,10000,1.0,NO,Average,6 Low Average,1933
3,2487200875,604000.0,4,3.00,1960,5000,1.0,NO,Very Good,7 Average,1965
4,1954400510,510000.0,3,2.00,1680,8080,1.0,NO,Average,8 Good,1987
5,7237550310,1230000.0,4,4.50,5420,101930,1.0,NO,Average,11 Excellent,2001
...,...,...,...,...,...,...,...,...,...,...,...
21591,2997800021,475000.0,3,2.50,1310,1294,2.0,NO,Average,8 Good,2008
21592,263000018,360000.0,3,2.50,1530,1131,3.0,NO,Average,8 Good,2009
21593,6600060120,400000.0,4,2.50,2310,5813,2.0,NO,Average,8 Good,2014
21594,1523300141,402101.0,2,0.75,1020,1350,2.0,NO,Average,7 Average,2009
21596,1523300157,325000.0,2,0.75,1020,1076,2.0,NO,Average,7 Average,2008

In [9]:
kc.sort_values('grade', ascending=False).head(30)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built
19724,3630240140,585000.0,4,3.00,2110,1286,2.0,NO,Average,9 Better,2007
7907,6352600490,820000.0,4,3.50,2770,8049,2.0,NO,Average,9 Better,2002
13921,4379400580,698000.0,3,2.50,2580,4636,2.0,NO,Average,9 Better,2006
10193,3530200160,654950.0,4,2.50,2790,45902,2.0,NO,Average,9 Better,1987
18480,7732410220,808000.0,4,2.25,2500,8866,2.0,NO,Good,9 Better,1987
2151,2880100160,1010000.0,4,3.50,3350,3752,2.0,NO,Average,9 Better,2007
20059,1085623640,428900.0,4,2.50,2598,5553,2.0,NO,Average,9 Better,2014
6188,5469502780,350000.0,4,2.50,2260,13755,1.0,NO,Good,9 Better,1975
4253,3629920600,619500.0,3,2.50,2170,5000,2.0,NaN,Average,9 Better,2003
4251,913000315,1300000.0,6,4.50,3902,3880,3.0,NO,Good,9 Better,1977
2159,7351000160,332000.0,3,2.25,2120,14915,1.0,NO,Average,9 Better,1979
6191,9178601660,1700000.0,5,3.00,3320,5354,2.0,NaN,Average,9 Better,2004
2175,3317500030,1090000.0,3,2.50,3630,11019,1.0,NaN,Good,9 Better,1972
20051,7853280490,633000.0,4,3.50,4220,5817,2.0,NO,Average,9 Better,2006
7904,1051000040,1820000.0,3,2.25,3330,20053,2.0,NO,Average,9 Better,1968
15665,5026900235,1850000.0,4,3.25,2910,1880,2.0,NO,Very Good,9 Better,1914
12556,6681500150,990000.0,4,2.50,2540,5930,2.0,NO,Average,9 Better,2003
2167,1355200060,765000.0,4,2.50,3300,10764,1.0,NO,Good,9 Better,1971
4247,7202430110,725000.0,3,2.50,2610,7510,2.0,NO,Average,9 Better,1996
4246,6905200215,1010000.0,3,2.50,1920,4480,2.0,NO,Average,9 Better,1949
4245,629420100,722000.0,4,2.75,3190,5408,2.0,NO,Average,9 Better,2005
6197,425079099,560000.0,3,3.00,4120,60392,2.0,NO,Average,9 Better,1994
20061,1070000110,1040000.0,4,2.50,2830,5932,2.0,NO,Average,9 Better,2014
7922,4379400220,782500.0,4,2.50,2930,7806,2.0,NO,Average,9 Better,2005
20064,3034200399,635000.0,4,2.50,2720,7991,2.0,NO,Average,9 Better,2006
6183,7308600050,738515.0,5,2.75,3360,9200,2.0,NO,Average,9 Better,2014
15632,8944460170,368000.0,4,2.50,2689,5724,2.0,NO,Average,9 Better,2006
17024,2326059099,838000.0,4,2.50,3310,42998,2.0,NO,Average,9 Better,2001
2121,1085610030,725500.0,4,2.50,2790,74495,2.0,NO,Average,9 Better,1997
4268,2919201335,912000.0,4,3.75,1980,4095,2.0,NO,Average,9 Better,2009

# Data Modeling

In [6]:
# Here shows the different statistical values of the kc dataframe
kc.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,1970.999676
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,29.375234
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,1900.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,1951.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,1975.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,1997.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,2015.000000